@media screen and (max-width:1050px){
    header {
        justify-content: center;
    }
    
    header > ul{
     display: none;
    }
    
    .container .sidebar-left{
        width:100%;
    }

    .container .sidebar-right{
        display: none;
    }

    footer{
        height: 200vh;
    }

    header a{
        display: block;
    }

    header .side-menu-wrapper{
        display: block;
    }   
    .contato{
        bottom: 0;
        position: absolute;
        top: 551px;
    }
}

@media screen and (max-width:700px){
    .contato{
        position: initial;
        
    }
    footer{
        flex-direction: column;
        height: auto;
       
    }
    .container .sidebar-left .noticia p a{
        flex-direction: column;
        display: flex;
    }
    .btn{
        width: 150px;
        margin: 2px 10px;
    }
    .box-info .box-text{
        padding: 10px 0;
        overflow: hidden;
        position: relative;
        height: 412px;
    }
}

@media screen and (max-width:500px){
    .container .sidebar-left .noticia h1{
        font-size:25px;
        margin-bottom: 10px;
    }
}

@media screen and (max-width:670px){
    .box-info .logo-box img{
        display: none;
    }
    .box-info{
        align-items: center;
        justify-content: center;
        overflow: hidden;
        height: 442px;
        width: 242px;
    }
}
@media screen and (max-width:1200px){
    .rede-social-1{
        display: none;
    }
}


/*
@media (max-width: 1250px){
   footer {
        max-width: 100%!important;
        min-width: 100%;
        padding-left: 30px!important;
        padding-right: 30px!important;
    }
}

*/